<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://anandtyagaraj/XpressionSport" version="1.3.1" viewmodes="maximized">
    <tizen:application id="QXvxN6rhGh.XpressionSport" package="QXvxN6rhGh" required_version="2.1"/>
    <author email="anand.tyagaraj@gmail.com">Anand</author>
    <tizen:category name="com.samsung.wmanager.WATCH_CLOCK"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="xpressions.png" height="869" width="900"/>
    <name>Xpression Sport</name>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
