<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://anandtyagaraj/SWatch" version="1.0.0" viewmodes="maximized">
    <tizen:application id="Gbcqsv6HCI.Swatch" package="Gbcqsv6HCI" required_version="2.2"/>
    <author email="anand.tyagaraj@gmail.com">Anand Tyagaraj</author>
    <tizen:category name="com.samsung.wmanager.WATCH_CLOCK"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://developer.samsung.com/tizen/feature/network.accessory_protocol"/>
    <icon src="6.png" height="117" width="117"/>
    <tizen:metadata key="AccessoryServicesLocation" value="res/xml/accessoryservices.xml"/>
    <name>SWatch</name>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/healthinfo"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/medicalinfo"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/accessoryprotocol"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
